<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LedBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LedBoard.Properties.Settings>
            <setting name="DotPitch" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PixelSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DesktopX" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="DesktopY" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="DesktopWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="DesktopHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="IsLooping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewBoardWidth" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="NewBoardHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="NewFrameRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BoardZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimelineZoom" serializeAs="String">
                <value>0.2</value>
            </setting>
        </LedBoard.Properties.Settings>
    </userSettings>
</configuration>